@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
/*	background-color:#848484 
*/	background: url(../img/1.jpg) no-repeat; 
    background-size: cover;
}
.modal-dialog{
	margin-top: 150px;
}
.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;

}
.modal-content {
	background-color: #3b4652;
	opacity: .95;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #848484;
}
.user-img{
	margin-top: -20px;
	margin-bottom: 10px;
}
.user-img img{	
	height: 100px;
	width: 100px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #848484;
}

.form-group {
	margin-top: 40px;
	margin-bottom: 40px;
}
.form-group input{
	height: 45px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;

}
button {
	width: 40%;
	margin: 5px 0 25px;
}
.btn {
	background-color: #4CAF50;
	color: #fff;
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid #4CAF50;
}
.btn:hover, .btn:focus {
	background-color: #46a049!important;
	border-bottom: 4px solid #46a049!important;
}
.svg-inline--fa {
	font-size: 20px;
	margin-right: 7px;
}

