@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: 'Roboto', sans-serif;
	/*background-color: #537699*/
	background: url(../img/wp2691570-cyber-security-wallpapers.jpg) no-repeat; 
    background-size: cover;
}
.modal-dialog{
	margin-top: 200px;
}
.modal-content {
	background-color: #3b4652;
	opacity: .95;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #848484;
}
button {
	width: 40%;
	margin: 5px 0 25px;
}

.user-img{
	margin-top: -30px;
	margin-bottom: 50px;
}
.user-img img{
	height: 100px;
	width: 100px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #848484;
}
.btn {
	background-color: #f44336;
	color: #fff;
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid #f44336;
	margin-bottom: 50px;
}
.btn:hover, .btn:focus {
	background-color: #da190b;
	border-bottom: 4px solid #da190b;
}
.svg-inline--fa {
	font-size: 20px;
	margin-right: 7px;
}