
<!DOCTYPE html>
<html>
<head>
  <title>Face Recognition||Edit Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	{% block content %}
		<div class="modal-dialog text-center">
		<div class="c0l-sm-8 main section">
			<div class="modal-content">
				<div class="col-12 user-img">
					<img src="img/user-profile-login-computer-icons-avatar-avatar.jpg">
				</div>
				{% with messages = get_flashed_messages() %}
		        {% if messages %}
		            <div class="notification is-danger">
		                {{ messages[0] }}
		            </div>
		        {% endif %}
		        {% endwith %}
				<form class="col-12" action="/edit_save/{{data[0]}}" method="post" enctype = "multipart/form-data" name='userForm' id="formSubmit">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter Name" name='name' id='name' value="{{data[1]}}">
					</div>
					<div class="form-group">
						<input type="number" class="form-control" placeholder="Enter Roll No." name='id' value="{{data[2]}}">
					</div>
					<div class="form-group">
						<input type="file" class="form-control" name='image' id='image' multiple>
					</div>
					<button type="submit" name="submit" value="Edit" class="btn"><i class="fas fa-sign-in-alt"></i>Edit</button>
				</form>
			</div>
		</div>
	</div>
	{% endblock %}
	
</body>
</html>
