<html>
<head>
    <title>Face recognition</title>
    <style>
<!--        form{-->
<!--            background-color:white;-->
<!--            margin-left:400px;-->
<!--            margin-top:50px;-->

<!--        }-->
    </style>
</head>


<!--<img src="{{ url_for('recognize') }}">-->

<form action="/feat" method="post">

<!--<textarea rows="25" cols="70"></textarea>-->
<br>
<br>

<input type="submit" value="Train">


</form>

<form action="/recognition" method="post">
<!--    <img src="{{ url_for('recognize') }}">-->
    <input type="submit" value="Recognition">
</form>

<form action="/add_image" method="post">

    <input type="submit" value="Add Image">
</form>




</html>